.cc-reference p{
    font-weight: 1000px;
    color: black;
    font-style: bold;
  }

  .category p{
      width: 10%
  }

  .card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
      -5px -5px 30px 15px rgba(0,0,0,0.22);
    transition: 1s ;
  }