<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="flip-right" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Ashwin Venkata Krishnan</strong>  , a graduate student at Northeastern University and an experienced software developer at Infoview Technologies Pvt. Ltd.
                Hands-on experience working in Enterprise products which uses MVC Framework with Javascript, Java, Bootstrap as their main technologies.</p>
              <p>
                Motivated to advance my career with a growth-oriented, technically-advanced domain thereby strengthening myself and also the organization.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">June 03, 1994</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">venkatakrishnan.a@husky.neu.edu</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">(857) 544-1289</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8"> 95 Lawn Street, Boston MA, 02120
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">English, Tamil, Hindi</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>