<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-4 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <div class="h5">Master of Science</div>
              <div class="h5">Information Systems</div>
              <br>
              <div class="h6">(Sept 2019 - Jun 2021)</div>
            </div>
          </div>
          <div class="col-md-8" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              
               <h4 class="category">Northeastern University, Boston, MA
               </h4>
             <div class="row">
              <div class="col-md-4">
                <div class="progress-container progress-primary">
                  <span class="progress-badge">GPA</span>
                  <div class="progress">
                    <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                      data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                      style="width: 95%;"></div>
                    <span class="progress-value">3.85* out of 4</span>
                  </div>
                </div>
              </div>

              <div class="col-md-8">
                <ul class="list-group"> <strong>Relevant Courses</strong>
                  <li class="list-group-item d-flex justify-content-between align-items-center">Application Engineering and Development
                    <span class="badge badge-primary badge-pill">A</span> 
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">Web Design and User Experience
                    <span class="badge badge-primary badge-pill">A-</span> 
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">Web Development Tools and Methods*
                    <span class="badge badge-primary badge-pill">TBD</span> 
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">Program Structure and Algorithms*
                    <span class="badge badge-primary badge-pill">TBD</span> 
                  </li>
                </ul>
              </div>
              
              
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-4 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <div class="h5">Bachelors of Technology</div>
              <div class="h5">Electronics and Communication</div>
              <br>
              <div class="h6">(Jun 2011 - May 2015)</div>
             
            </div>
          </div>
          <div class="col-md-8" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
               <h4 class="category">SASTRA UNIVERSITY, TN, INDIA
               </h4>
               
               <div class="row">

                <div class="col-md-4">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">CGPA</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                        style="width: 73.8%;"></div>
                      <span class="progress-value">7.38 out of 10</span>
                    </div>
                  </div>
                </div>
                

                <div class="col-md-8">
                  <ul class="list-group"> <strong>Relevant Courses</strong>
                    <li class="list-group-item d-flex justify-content-between align-items-center">User Interface for Interactive Webpage in .NET
                      <span class="badge badge-primary badge-pill">A+</span> 
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Micro Controllers
                      <span class="badge badge-primary badge-pill">A</span> 
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Programming in C++
                      <span class="badge badge-primary badge-pill">A</span> 
                    </li>
                  </ul>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
  </div>