<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Academic Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/petition.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Petitions.org Using Node.js</h4>
          <h6 class="card-text"><b>Technology :</b>  </h6>
          <p>
            <li>Angular8</li>
            <li>Mongo DB</li>
            <li>Node.js</li> 
          </p>         
          <a href="" target="_blank"class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/ashwinven" class="btn btn-primary stretched-link">Github Link</a>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/weather.JPG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Weather Forecast Predictor</h4>
           <h6 class="card-text"><b>Technology :</b> </h6> 
           <p>
            
            <li>Bootstrap3</li>
            <li>React Native</li>
            <li>Rest API</li>

          </p>    
    
        <a href="https://medium.com/@mehulkothari05/personal-portfolio-using-django-dba49c355905" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
          <a href="https://github.com/mehulk05/My-Personal-Portfolio" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/pwo.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Public Welfare Organization</h4>
          <h6 class="card-text"><b>Technology :</b></h6> 
          <p>
          <li>Java</li>
          <li>Swing</li>
          <li>RESTful API</li>
        </p>
          <a href="" target="_blank" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/ashwinven" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    </div>
    </div>
  </div>